.Change{
    width: 50%;
    margin-left: 22%;
    margin-top: 5%;
}


.Change Input{
    font-size: 20px;
}

.Change button{
    width: 95%;
    height: 40px;
    font-size: 20px;
    margin-top: 2.5%;
    margin-bottom: 5.5%;
    margin-left: 2.5%;
}