.Header{
    background-color: #004681;
    height: 50px;
}

.Header img{
    float: left;
    margin: 10px;
    margin-left: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
}

.Header button{
    float: right;
    margin: 10px;
    height:30px;
    width: 100px;
}