.Teacher{
    width: 70%;
    border-radius: 10px;
    margin-left: 22%;
    margin-top: 5%;
}

.Teacher #TeacherName{
    float: left;
    font-size: 20px;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.Teacher #Type{
    font-size: 15px;
    margin-left: 30%;
    margin-top: 1.6%;
    margin-bottom: 1%;
}

.Teacher #Info{
    font-size: 15px;
    margin-left: 10%;
    margin-top: 1.6%;
    margin-bottom: 1%;
}

.Teacher #Info text{
    margin-right: 5%;
}

.Teacher #Info a{
    margin-right: 8%;
}